In [1]:
#hide
import matplotlib.pyplot as plt
from matplotlib import font_manager
plt.rcParams["font.family"] = 'gulim'
plt.rcParams["figure.figsize"] = (15,5)

import pandas as pd

## COVID-19
- https://github.com/CSSEGISandData/COVID-19
 - [국가별 확진자 csv](https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv)

In [2]:
csv_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
df = pd.read_csv(csv_url).set_index(['Province/State', 'Country/Region'])

In [3]:
df

                                         Lat       Long  1/22/20  1/23/20  \
Province/State Country/Region
NaN            Afghanistan         33.939110  67.709953        0        0
               Albania             41.153300  20.168300        0        0
               Algeria             28.033900   1.659600        0        0
               Andorra             42.506300   1.521800        0        0
               Angola             -11.202700  17.873900        0        0
...                                      ...        ...      ...      ...
               West Bank and Gaza  31.952200  35.233200        0        0
               Western Sahara      24.215500 -12.885800        0        0
               Yemen               15.552727  48.516388        0        0
               Zambia             -13.133897  27.849332        0        0
               Zimbabwe           -19.015438  29.154857        0        0

                                   1/24/20  1/25/20  1/26/20  1/27/20  \
Province/State Country/Region
NaN            Afghanistan               0        0        0        0
               Albania                   0        0        0        0
               Algeria                   0        0        0        0
               Andorra                   0        0        0        0
               Angola                    0        0        0        0
...                                    ...      ...      ...      ...
               West Bank and Gaza        0        0        0        0
               Western Sahara            0        0        0        0
               Yemen                     0        0        0        0
               Zambia                    0        0        0        0
               Zimbabwe                  0        0        0        0

                                   1/28/20  1/29/20  ...  8/13/20  8/14/20  \
Province/State Country/Region                        ...
NaN            Afghanistan               0        0  ...    37424    37431
               Albania                   0        0  ...     6971     7117
               Algeria                   0        0  ...    37187    37664
               Andorra                   0        0  ...      981      989
               Angola                    0        0  ...     1815     1852
...                                    ...      ...  ...      ...      ...
               West Bank and Gaza        0        0  ...    15491    15834
               Western Sahara            0        0  ...       10       10
               Yemen                     0        0  ...     1847     1858
               Zambia                    0        0  ...     8663     9021
               Zimbabwe                  0        0  ...     4990     5072

                                   8/15/20  8/16/20  8/17/20  8/18/20  \
Province/State Country/Region
NaN            Afghanistan           37551    37596    37599    37599
               Albania                7260     7380     7499     7654
               Algeria               38133    38583    39025    39444
               Andorra                 989      989     1005     1005
               Angola                 1879     1906     1935     1966
...                                    ...      ...      ...      ...
               West Bank and Gaza    16153    16534    16844    17306
               Western Sahara           10       10       10       10
               Yemen                  1858     1869     1882     1889
               Zambia                 9186     9343     9839     9981
               Zimbabwe               5176     5261     5308     5378

                                   8/19/20  8/20/20  8/21/20  8/22/20
Province/State Country/Region
NaN            Afghanistan           37599    37856    37894    37953
               Albania                7812     7967     8119     8275
               Algeria               39847    40258    40667    41068
               Andorra                1024     1024     1045     1045
               Angola                 2015     2044     2068     2134
...                                    ...      ...      ...      ...
               West Bank and Gaza    17606    17989    18313    18476
               Western Sahara           10       10       10       10
               Yemen                  1892     1899     1906     1907
               Zambia                10218    10372    10627    10831
               Zimbabwe               5643     5745     5815     5893

[266 rows x 216 columns]

In [4]:
df.loc[('New South Wales', 'Australia')]

Lat         -33.8688
Long        151.2093
1/22/20       0.0000
1/23/20       0.0000
1/24/20       0.0000
             ...
8/18/20    3966.0000
8/19/20    3971.0000
8/20/20    3972.0000
8/21/20    3981.0000
8/22/20    3985.0000
Name: (New South Wales, Australia), Length: 216, dtype: float64

In [5]:
df.loc[(None, 'Korea, South')]

Lat           35.907757
Long         127.766922
1/22/20        1.000000
1/23/20        1.000000
1/24/20        2.000000
               ...
8/18/20    16058.000000
8/19/20    16346.000000
8/20/20    16670.000000
8/21/20    17002.000000
8/22/20    17399.000000
Name: (nan, Korea, South), Length: 216, dtype: float64

In [6]:
df[df.index.get_level_values('Country/Region') == 'Australia']

,,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20,8/19/20,8/20/20,8/21/20,8/22/20
Province/State,Country/Region,,,,,,,,,,,,,,,,,,,,,
Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,0,0,...,113,113,113,113,113,113,113,113,113,113
New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,4,4,...,3936,3945,3950,3957,3959,3966,3971,3972,3981,3985
Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,0,0,...,33,33,33,33,33,33,33,33,33,33
Queensland,Australia,-27.4698,153.0251,0,0,0,0,0,0,0,1,...,1091,1091,1091,1091,1091,1092,1093,1094,1103,1105
South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,0,0,...,460,460,460,461,462,462,462,462,462,462
Tasmania,Australia,-42.8821,147.3272,0,0,0,0,0,0,0,0,...,230,230,230,230,230,230,230,230,230,230
Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,1,1,...,16234,16517,16764,17027,17238,17446,17683,17852,18029,18231
Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,0,0,...,645,646,646,646,647,647,651,651,651,652

In [7]:
kr = df[df.index.get_level_values('Country/Region') == 'Korea, South']

In [8]:
cntr_df = df.groupby(['Country/Region']).sum()
cntr_df

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,8/13/20,8/14/20,8/15/20,8/16/20,8/17/20,8/18/20,8/19/20,8/20/20,8/21/20,8/22/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,33.939110,67.709953,0,0,0,0,0,0,0,0,...,37424,37431,37551,37596,37599,37599,37599,37856,37894,37953
Albania,41.153300,20.168300,0,0,0,0,0,0,0,0,...,6971,7117,7260,7380,7499,7654,7812,7967,8119,8275
Algeria,28.033900,1.659600,0,0,0,0,0,0,0,0,...,37187,37664,38133,38583,39025,39444,39847,40258,40667,41068
Andorra,42.506300,1.521800,0,0,0,0,0,0,0,0,...,981,989,989,989,1005,1005,1024,1024,1045,1045
Angola,-11.202700,17.873900,0,0,0,0,0,0,0,0,...,1815,1852,1879,1906,1935,1966,2015,2044,2068,2134
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,0,0,...,15491,15834,16153,16534,16844,17306,17606,17989,18313,18476
Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,0,0,...,10,10,10,10,10,10,10,10,10,10
Yemen,15.552727,48.516388,0,0,0,0,0,0,0,0,...,1847,1858,1858,1869,1882,1889,1892,1899,1906,1907
Zambia,-13.133897,27.849332,0,0,0,0,0,0,0,0,...,8663,9021,9186,9343,9839,9981,10218,10372,10627,10831
Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,0,0,...,4990,5072,5176,5261,5308,5378,5643,5745,5815,5893

In [9]:
cntr_df[cntr_df.index == 'Australia'].T

Country/Region   Australia
Lat              -256.8502
Long             1130.8439
1/22/20             0.0000
1/23/20             0.0000
1/24/20             0.0000
...                    ...
8/18/20         23989.0000
8/19/20         24236.0000
8/20/20         24407.0000
8/21/20         24602.0000
8/22/20         24811.0000

[216 rows x 1 columns]

In [10]:
cntr_df.loc['Australia']

Lat         -256.8502
Long        1130.8439
1/22/20        0.0000
1/23/20        0.0000
1/24/20        0.0000
              ...
8/18/20    23989.0000
8/19/20    24236.0000
8/20/20    24407.0000
8/21/20    24602.0000
8/22/20    24811.0000
Name: Australia, Length: 216, dtype: float64